.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--gx) / -2);
  margin-top: calc(-1 * var(--gy));
}
.row > .col {
  padding: 0 calc(var(--gx) / 2);
}
.col {
  flex: var(--grow) 0 var(--width);
  margin-top: var(--gy);
  min-width: 0;
}
