.icon {
	background: url(~@/assets/imgs/sprites.svg) no-repeat;
	display: inline-block;
	cursor: pointer;
}
.icon:hover {
	filter: brightness(0.7);
}
.animation-shake:hover {
	animation: shake 0.3s ease-in;
}
.icon-24 {
	width: 24px;
	height: 24px;
}
.icon-16 {
	width: 16px;
	height: 16px;
}
.icon-32 {
	width: 32px;
	height: 32px;
}
.icon-48 {
	width: 48px;
	height: 48px;
}
.icon-calendar {
	background-position: -120px -306px;
}
.icon-excel {
	background-position: -704px -200px;
}
.icon-question {
	background-position: -826px -456px;
}
.icon-settings {
	background-position: -88px -200px;
}
.icon-warning {
	background-position: -592px -456px;
}
.icon-search {
	background-position: -992px -360px;
}
.icon-toggle {
	background-position: -424px -86px;
}
.icon-bell {
	background-position: -788px -30px;
}
.icon-bars {
	background-position: -312px -32px;
}
.icon-bars-black {
	background-position: -843px -30px;
}
.icon-dashboard {
	background-position: -30px -1628px;
}
.icon-cash {
	background-position: -73px -1628px;
}
.icon-bank {
	background-position: -117px -1628px;
}
.icon-bag {
	background-position: -161px -1628px;
}
.icon-sale {
	background-position: -204px -1628px;
}
.icon-invoice {
	background-position: -249px -1628px;
}
.icon-stock {
	background-position: -291px -1628px;
}
.icon-tools {
	background-position: -336px -1628px;
}
.icon-car {
	background-position: -378px -1630px;
}
.icon-tax {
	background-position: -423px -1630px;
}
.icon-price {
	background-position: -467px -1628px;
}
.icon-general {
	background-position: -510px -1628px;
}
.icon-budge {
	background-position: -378px -1659px;
}
.icon-report {
	background-position: -547px -1628px;
}
.icon-finance {
	background-position: -204px -1664px;
}
.icon-arrow-down-blue {
	background-position: -896px -359px;
}
.icon-arrow-down-black {
	background-position: -560px -359px;
}
.icon-refresh {
	background-position: -423px -201px;
}
.icon-close {
	background-position: -144px -144px;
}
.icon-help {
	background-position: -89px -144px;
}
.icon-error {
	background-position: -24px -954px;
}
.icon-success {
	background-position: -86px -954px;
}
.icon-close-sm {
	background-position: -1172px -356px;
}
.icon-chevron-down {
	background-position: -1076px -32px;
}
