.page-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.page-item {
  cursor: pointer;
  padding: 0 0.5rem;
}
.page-item--active {
  border: 1px solid #e0e0e0;
  pointer-events: none;
}
.page-item--dot {
  pointer-events: none;
}
.page-item--disabled {
  pointer-events: none;
  color: #9e9e9e;
}
