.radio {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}
.radio input {
  width: 20px;
  height: 20px;
  border: 1px solid var(--gray);
  border-radius: 50%;
  appearance: none;
}
.radio input:checked {
  background: url(../../../assets/imgs/radio.svg) no-repeat center;
  border: none;
}
